
  body {
    /* overflow-x: hidden; */
    /* margin: 0; */
    font-family: 'Arial', sans-serif;
  }

  .bg-vid{
    /* z-index: 0;  */
    position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: -1; */
  top: 0;  /* Add this line to set the video at the top of the page */
  left: 0;
  }
  .bg-text1{
    font-size: 50px;
    color: aliceblue;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
  }
  .bg-text2{
    font-size: 100px;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
  }
  .homecard {
    width: 80%;
    max-width: 800px;
    border-radius: 1rem;
    padding: 2rem;
    background-color: aliceblue;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .label-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  
  .label-input-container > div {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 0.4rem;
  }
  
  input {
    width: calc(100% - 5px);
    background: hsl(190, 190, 190);
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    &::placeholder {
      font-size: 13px;
      opacity: 0.5;
      font-weight: 400;
    }
    &:focus {
      outline: none;
    }
  }
  
  .searchbar {
    background: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    margin-top: 35px;
  }
  @media (min-width: 769px) {
    .homecard {
      flex-direction: row;
      align-items: center;
    }
    .label-input-container {
      flex: 1;
      margin-right: 1rem;
      margin-bottom: 0;
    }
    .bg-vid {
      height: auto;
    }
    .bg-text1 {
      font-size: 50px;
      top: 40%;
  }

  .bg-text2 {
      font-size: 100px;
      top: 50%;
  }
  }
  @media (max-width: 768px) {
    .bg-text {
        font-size: 30px; /* Adjust the font size for smaller screens */
        top: 30%; /* Adjust the vertical position */
    }
}

   